<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>My_Unusual</display-name>
<!--   <servlet>
    <servlet-name>MyUnusual</servlet-name>
    <servlet-class>com.unusual.servlet.MyServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:mysql:///my_unusual</param-value>
    </init-param>
    <load-on-startup>3</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyUnusual</servlet-name>
    <url-pattern>/myServlet</url-pattern>
  </servlet-mapping> -->
  <welcome-file-list>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>UserDataListServlet</display-name>
    <servlet-name>UserDataListServlet</servlet-name>
    <servlet-class>com.unusual.servlet.UserDataListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserDataListServlet</servlet-name>
    <url-pattern>/userdatalist</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UserLoginServelet</display-name>
    <servlet-name>UserLoginServelet</servlet-name>
    <servlet-class>com.unusual.web.UserLoginServelet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginServelet</servlet-name>
    <url-pattern>/userlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserNameServlet</display-name>
    <servlet-name>GetUserNameServlet</servlet-name>
    <servlet-class>com.unusual.web.GetUserNameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserNameServlet</servlet-name>
    <url-pattern>/getUserName</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>testServlet</display-name>
    <servlet-name>testServlet</servlet-name>
    <servlet-class>com.unusual.web.testServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>testServlet</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>VoteUpServlet</display-name>
    <servlet-name>VoteUpServlet</servlet-name>
    <servlet-class>com.unusual.web.VoteUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VoteUpServlet</servlet-name>
    <url-pattern>/voteup</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUserInfoServlet</display-name>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <servlet-class>com.unusual.web.GetUserInfoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUserInfoServlet</servlet-name>
    <url-pattern>/getUserInfo</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowAllDataServlet</display-name>
    <servlet-name>ShowAllDataServlet</servlet-name>
    <servlet-class>com.unusual.web.ShowAllDataServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowAllDataServlet</servlet-name>
    <url-pattern>/showAllData</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndCommitsServlet</display-name>
    <servlet-name>ShowIndCommitsServlet</servlet-name>
    <servlet-class>com.unusual.web.ShowIndCommitsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndCommitsServlet</servlet-name>
    <url-pattern>/showIndCommits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndIssuesServlet</display-name>
    <servlet-name>ShowIndIssuesServlet</servlet-name>
    <servlet-class>com.unusual.web.ShowIndIssuesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndIssuesServlet</servlet-name>
    <url-pattern>/showIndIssues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowIndPullRequestServlet</display-name>
    <servlet-name>ShowIndPullRequestServlet</servlet-name>
    <servlet-class>com.unusual.web.ShowIndPullRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowIndPullRequestServlet</servlet-name>
    <url-pattern>/showIndPullRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTeamCommitsServlet</display-name>
    <servlet-name>ShowTeamCommitsServlet</servlet-name>
    <servlet-class>com.unusual.web.ShowTeamCommitsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeamCommitsServlet</servlet-name>
    <url-pattern>/showTeamCommits</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTeamIssuesServlet</display-name>
    <servlet-name>ShowTeamIssuesServlet</servlet-name>
    <servlet-class>com.unusual.web.ShowTeamIssuesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeamIssuesServlet</servlet-name>
    <url-pattern>/showTeamIssues</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowTeamPullRequestServlet</display-name>
    <servlet-name>ShowTeamPullRequestServlet</servlet-name>
    <servlet-class>com.unusual.web.ShowTeamPullRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowTeamPullRequestServlet</servlet-name>
    <url-pattern>/showTeamPullRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetUnusualEventsListServlet</display-name>
    <servlet-name>GetUnusualEventsListServlet</servlet-name>
    <servlet-class>com.unusual.web.GetUnusualEventsListServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetUnusualEventsListServlet</servlet-name>
    <url-pattern>/getUnusualEventsList</url-pattern>
  </servlet-mapping>
</web-app>